@model EvManager.Web.Models.EstadoBateria

@{
    ViewData["Title"] = "Detalles del Estado de Batería";
}

<h1>Detalles del Estado de Batería</h1>

<div>
    <h4>Estado de Batería</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID Vehículo</dt>
        <dd class="col-sm-10">@Model.VehiculoId</dd>
        <dt class="col-sm-2">Nivel de Carga (%)</dt>
        <dd class="col-sm-10">@Model.NivelCarga</dd>
        <dt class="col-sm-2">Última Actualización</dt>
        <dd class="col-sm-10">@Model.UltimaActualizacion.ToString("g")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>